/* @import url("https://fonts.googleapis.com/css2?family=Marhey&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Marhey&family=Noto+Serif+JP&display=swap");
* {
  box-sizing: border-box;
  /* font-family: serif; */
  font-family: "Noto Serif JP", serif;
}
.header {
  /* background-color: magenta; */
  border-bottom: 4px solid #708c50;
  margin: 0 auto;
  max-width: 1000px;
  padding: 5px;
  text-align: center;
}
.header h1 {
  color: #708c50;
  font-family: "Marhey", cursive;
  font-size: 90px;
  margin: 0;
}
.header h2 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 30px;
}
.mainContent {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}
.sectionTop {
  /* background-color: blueviolet; */
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.sectionBottom {
  /* background-color: yellow; */
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.media {
  display: flex;
  flex-direction: column;
  justify-content: column;
}
.media img {
  margin: 10px;
}
.words {
  font-size: 18px;
  max-width: 400px;
}
.allContent {
  background-color: white;
  /* border: 10px solid #708c50; */
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 1000px;
}
body {
  background-image: url("wood3.jpg");
  /* background-color: #708c50; */
}
